
<div class="container h-100" style="padding-top: 3%;">
    <div *ngIf="!showHideLogin" class="row d-flex justify-content-center align-items-center h-30" >
      <div class="col-12 col-md-9 col-lg-7 col-xl-6">
        <div class="card" style="border-radius: 15px;">
          <div class="card-body p-5">
            <h2 class="text-uppercase text-center mb-5">User Sign-Up</h2>

            <form  #userSignUp="ngForm" (ngSubmit)="signUp(userSignUp.value)">

              <div data-mdb-input-init class="form-outline mb-4">
                <input type="text" id="form3Example1cg" ngModel name="name" class="form-control form-control-lg" />
                <label class="form-label" for="form3Example1cg">Your Name</label>
              </div>

              <div data-mdb-input-init class="form-outline mb-4">
                <input type="email" id="form3Example3cg" ngModel name="email" class="form-control form-control-lg" />
                <label class="form-label" for="form3Example3cg">Your Email</label>
              </div>

              <div data-mdb-input-init class="form-outline mb-4">
                <input type="password" id="form3Example4cg" ngModel name="password" class="form-control form-control-lg" />
                <label class="form-label" for="form3Example4cg">Password</label>
              </div>

              <div data-mdb-input-init class="form-outline mb-4">
                <input type="password" id="form3Example4cdg" ngModel name="confirm_password" class="form-control form-control-lg" />
                <label class="form-label" for="form3Example4cdg">Repeat your password</label>
              </div>

              <div class="d-flex justify-content-center">
                <button  data-mdb-button-init
                  data-mdb-ripple-init class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
              </div>

              <p class="text-center text-muted mt-5 mb-0 common-form">Have already an account? <a 
                  class="fw-bold text-body" (click)="openLogin()"><u>Login here</u></a></p>

            </form>

          </div>
        </div>
      </div>
    </div>
    <!-- User Login code -->
    <div *ngIf="showHideLogin" class="row d-flex justify-content-center align-items-center h-30" >
      <div class="col-12 col-md-9 col-lg-7 col-xl-6">
        <div class="card" style="border-radius: 15px;">
          <div class="card-body p-5">
            <h2 class="text-uppercase text-center mb-5">User Login</h2>
            <p class="d-error">{{authError}}</p>
            <form #userLogin="ngForm" (ngSubmit)="loginUser(userLogin.value)">
              <div data-mdb-input-init class="form-outline mb-4">
                <input type="email" id="form3Example3cg" ngModel name="email" #email="ngModel" required class="form-control form-control-lg" />
                
                <label class="form-label" for="form3Example3cg">Your Email   <span *ngIf="email.invalid && email.touched">: Please Enter Valid Email</span></label>
              </div>

              <div data-mdb-input-init class="form-outline mb-4">
                <input type="password" id="form3Example4cg" ngModel name="password" #password="ngModel" required class="form-control form-control-lg" />
                <label class="form-label" for="form3Example4cg">Password  <span *ngIf="password.invalid && password.touched">: Please Enter Valid Password</span></label>
              </div>
              <div class="d-flex justify-content-center">
                <button  data-mdb-button-init
                  data-mdb-ripple-init [disabled]="userLogin.invalid"  class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Login</button>
              </div>

              <p class="text-center text-muted mt-5 mb-0 common-form">If you don't have account? <a
                  class="fw-bold text-body" (click)="openSingUp()"><u>Register here</u></a></p>

            </form>

          </div>
        </div>
      </div>
    </div>
</div>
